* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
}

body {
  background: #eee;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

main {
  background: linear-gradient(240deg, rgb(88 27 187 / 20%), rgba(0, 0, 200, 0));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 5rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 40rem;
}

.users {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 6px 20px 0px rgb(0 0 0 / 25%);
}

.users.empty {
  background-color: rebeccapurple;
}

.user {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cacaca;
  padding: 1rem  0;
}

.user:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.user__pic {
  flex-shrink: 0;
  margin-right: 1rem;
  border-radius: 50%;
}
.user__info {
  margin-right: 1.5rem;
}

.user__name {
  font-size: 1.125rem;
  margin: 0;
  margin-bottom: 0.25rem;
}

.user__position {
  color: #B7B7B7;
  font-size: 0.875rem;
}

.user__delete {
  flex-shrink: 0;
  align-self: flex-start;
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.user__delete svg {
  transition: all 0.3s ease;
} 

.user__delete:hover svg,
.user__delete:focus {
  stroke: #000;
}

.add {
  margin: 0 auto 2rem;
  padding: 1rem 2rem;
  border: 2px solid #581bbb;
  border-radius: 0.25rem;
  background-color: transparent;
  font-size: 1.25rem;
  cursor: pointer;
}